
@{
    ViewData["Title"] = "Management";
}
<link rel="stylesheet" href="~/css/Management.css" />


<h1 class="title">Beheer Pagina</h1>
<div class="row">
    <div class="col-md-6 button-field">
        <button type="button" class="btn btn-dark head-buttons">Nieuwe gerecht</button>
    </div>
    <div class="col-md-6 button-field">
        <button type="button" onclick="location.href='@Url.Action("AddCategory","Admin")'" class="btn btn-dark head-buttons">Nieuwe categorie</button>
    </div>
</div>


