@model BestelPaginaWokPlaza.Models.AdminViewModel
@{
    ViewData["Title"] = "Management";
}
<link rel="stylesheet" href="~/css/Management.css" />

<h1 class="title">Beheer Pagina</h1>
<div class="row">
    <div class="col-md-6 button-field">
        <button type="button" id="AddDish" class="btn btn-dark head-buttons">Nieuwe gerecht</button>
    </div>
    <div class="col-md-6 button-field">
        <button type="button" id="AddCategory" class="btn btn-dark head-buttons">Nieuwe categorie</button>
    </div>
</div>

@foreach (var category in Model.categoryList)
{
<table class="category-item">
    <tr class="category-header">
        <th class="category-name">@category.Text</th>
    </tr>

    @foreach (var dish in Model.dishList)
    {
        if (Convert.ToInt32(category.Value) == dish.category_id)
        {
            <tr class="dish-item">
                <td class="dish-content">
                    <h3 class="dish-name">@dish.name</h3>
                    <span class="dish-price">&#8364; @dish.price</span>
                    <span class="dish-description">@dish.description</span>
                </td>
            </tr>
        }
    }
</table>
}


<partial name="Partials/_AddDish" />
<partial name="Partials/_AddCategory" />

<script>
    let popupcontainers = document.querySelectorAll(".pop-up-container");
    popupcontainers.forEach(popup => {
        popup.addEventListener("click", function (e) {
            console.log("clicked");
            if (e.target.classList.contains("pop-up-container")) {
                document.querySelector(".add-category").style.display = "none";
                document.querySelector(".add-dish").style.display = "none";
            }
        })
    })
</script>