
@{
}
<div class="col-lg-3 shoppingCart-column">
    <h5>Winkelmandje</h5>

    <div class="shoppingCart">

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $.get("/ShoppingCart/GetAllShoppingCartItems", function (result) {
        console.log(result);
        appendShoppingCart(result);
    });
</script>
