
@{
}
<div class="col-lg-3 shoppingCart-column">
    <h5>Winkelmandje</h5>

    <div class="shoppingCart">

    </div>

    <div class="shopping-cart-details">
        <p class="shopping-cart-delivery-cost">Bezorgkosten:<span>&#8364; 2.00</span></p>
        <p class="shopping-cart-total-price">Totaalbedrag:<span class="total-price" id="total-price"></span> </p>

        <button type="button" class="btn btn-success pay-button">Afrekenen</button>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $.get("/ShoppingCart/GetAllShoppingCartItems", function (result) {
        console.log(result);
        appendShoppingCart(result);
    });

    console.log("totale prijs");
    $.get("/ShoppingCart/CalcTotalPrice", function (result) {
        document.getElementById("total-price").innerHTML = "&#8364; " + parseFloat(result).toFixed(2);
    });
</script>
