
@{
}
<div class="col-lg-3 shoppingCart-column">
    <h5>Winkelmandje</h5>

    <div class="shoppingCart">

    </div>

    <div class="shopping-cart-details">
        <partial name="Partials/_ShoppingCartDetails" />

        <button type="button" onclick="location.href='@Url.Action("CheckOut", "OrderPage")'" class="btn btn-success pay-button">Afrekenen</button>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $.get("/ShoppingCart/GetAllShoppingCartItems", function (result) {
        console.log(result);
        appendShoppingCart(result);
    });
</script>
